In [ ]:
import numpy as np
names=('Santhosh','Sunny','Bunny','Sreeja')
named_array=np.array(names)
named_array.shape
arr0=np.array(1)
arr1=np.array((1,2))
arr2=np.array(((1,2),(3,4)))
arr2.ndim

In [ ]:
#3d array
import numpy as np
arr=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
arr.ndim
#accessing elements in the 3d array
arr[0,1,1]

In [213]:
#result_df = df.groupby('Id').filter(lambda group: set(group['Subject']) == {'Sql'})
import pandas as pd
data=(
    (101,'Sql'),(102,'Sql'),(102,'Python'),(103,'Sql'),(103,'Excel'),(104,'Python'),(104,'Excel'),(105,'Sql'),
    (106,'Python')
)
fil='Sql'
df=pd.DataFrame(data, columns=('Id','Subject'))
df.set_index('Id', inplace=True)
result_df = df.groupby('Id')['Subject'].agg(', '.join).reset_index()
result_df['Id'][result_df['Subject'].str.fullmatch(fil)]

0    101
4    105
Name: Id, dtype: int64

In [ ]:
import pandas as pd

# Define data properly as a list of dictionaries
data = [
    {"name": "Gilbert", "wins": [["straight", "7♣"], ["one pair", "10♥"]]},
    {"name": "Alexa", "wins": [["two pair", "4♠"], ["two pair", "9♠"]]},
    {"name": "May", "wins": []},
    {"name": "Deloise", "wins": [["three of a kind", "5♣"]]}
]

df = pd.DataFrame(data)
df_exploded = df.explode('wins').explode('wins')
print(df_exploded.reindex())
#df_grouped = df_exploded.groupby("name").agg(new_field=("wins", lambda x: ', '.join(map(str, x))))
df_grouped = df_exploded.groupby("name").agg(Collections=("wins", lambda x: ', '.join(map(str,x))))

In [215]:
import pandas as pd
data=(
    (101,'Sql',4),(102,'Sql',4),(102,'Python',5),(103,'Sql',3.5),(103,'Excel',5),(104,'Python',4.5)
    ,(104,'Excel',4),(105,'Sql',3.5), (106,'Python',5)
)
df=pd.DataFrame(data, columns=('Id','Subject','Rating'))
#Giving alieas names to the aggregated columns
grouped_df = df.groupby(by='Id').agg({'Subject': ', '.join,'Rating': 'sum'}).reset_index()
grouped_df
#grouped_df[grouped_df['Subject'].str.fullmatch('Sql')]['Id']

    Id        Subject  Rating
0  101            Sql     4.0
1  102    Sql, Python     9.0
2  103     Sql, Excel     8.5
3  104  Python, Excel     8.5
4  105            Sql     3.5
5  106         Python     5.0

In [ ]:
import numpy as np
arr=np.array([[1,2,3],[4,5,6]])
a=np.array([1,2,3,4,5])
b=[1,2,3,4,5]
b[1:4]=[0,0,0]

In [ ]:
import pandas as pd
data = {'Category': ['A', 'B', 'A', 'B'],
        'Type': ['X', 'X', 'Y', 'Y'],
        'Value1': [10, 20, 30, 40],
        'Value2': [5, 15, 25, 35]}
df = pd.DataFrame(data)
grouped_df=df.groupby(by=['Category','Type'])
final_df=grouped_df.agg({'Value1': 'sum','Value2': 'max'}).reindex()
final_df[final_df['Value2']>10]

In [ ]:
import pandas as pd
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [100, 50, 30, 20, 70, 90]}
df = pd.DataFrame(data)
#Filtering groups where the sum of 'Value' is greater than 100
filtered = df.groupby('Category').filter(lambda x: x['Value'].sum() > 100)
print(filtered)
grp_df=df.groupby('Category').agg(Summation=('Value','sum'))
grp_df[grp_df['Summation']>100]

In [ ]:
import pandas as pd
data = {
    'Store': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Product': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Sales': [200, 150, 300, 250, 400, 100],
    'Quantity': [3, 5, 2, 4, 6, 3]
}
df = pd.DataFrame(data)
agg_df_reset=df.groupby('Store').agg(
    Total_products=('Product','count'),
    Total_sales=('Sales','sum'),
    Total_quantity=('Quantity','sum')
)
agg_df_reset[agg_df_reset['Total_sales']>300]
#filtered_stores = agg_df_reset[agg_df_reset['Total_sales'] > 350].index
#print(filtered_stores)

#filt=agg_df_reset.reset_index()
#filt
#filt['Store'][filt['Total_sales']>350]
#fil=agg_df_reset[agg_df_reset['Total_sales']>350]

In [ ]:
arr=["20250119 20250120"]
ar1=arr[0].split(' ')
ar1[0],ar1[1]

In [ ]:
import pandas as pd
d1=(
    {'Id':1,"Name":'Santhosh','Dept_No':1},
    {'Id':2,"Name":'Sunny','Dept_No':2},
    {'Id':3,"Name":'Bunny','Dept_No':2},
    {'Id':4,"Name":'Sumhith','Dept_No':3},
     {'Id':4,"Name":'Hero','Dept_No':4}
)
d2=(
    {'Dept_No':1,'Place':'Hyderabad'},
    {'Dept_No':2,'Place':'Kamareddy'},
    {'Dept_No':3,'Place':'Karimnagar'},
    {'Dept_No':4,'Place':'Warangal'}
)
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)

f=df1.merge(df2,how='inner',on='Dept_No')
f[f['Dept_No']==2]

In [ ]:
import pandas as pd

# First DataFrame with a common column "Salary"
df1 = pd.DataFrame({
    'Id': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Dept_No': [1, 2, 3],
    'Salary': [5000, 6000, 7000]  # Common field
})
# Second DataFrame with same "Salary" column
df2 = pd.DataFrame({
    'Dept_No': [1, 2, 3],
    'Place': ['New York', 'Chicago', 'Los Angeles'],
   # 'Salary': [5500, 6200, 7100]  # Common field
})
# Merge DataFrames
merged_df = df1.merge(df2, how='inner', on='Dept_No')
print(merged_df)

In [ ]:
import pandas as pd
people = pd.DataFrame([
    {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
    {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
    {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
    {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
])
age_filter=[40,50]
people[people['age'].between(*age_filter)]['name']

dept_grp_df=people.groupby(by='deptId').agg(Total_Sal=('salary','sum'))
dept_no_df=dept_grp_df[dept_grp_df['Total_Sal'].between(155,200)].reset_index()
dept_no=dept_no_df['deptId']
dept_no.index 
#dept_no.to_list
people[people['deptId'].isin(dept_no)]

In [203]:
import pandas as pd
# Creating DataFrames
people = pd.DataFrame([
    {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
    {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
    {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
    {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
])
department = pd.DataFrame([
    {"id": 1, "deptName": "PySpark"},  # Rename 'name' to 'deptName' to avoid conflicts
    {"id": 2, "deptName": "ML"},
    {"id": 3, "deptName": "Spark SQL"}
])
# Merge the dataframes
people_dept_join = people.merge(department, left_on="deptId", right_on="id", how="inner")
# Filter records where age > 30
age_fil_df = people_dept_join[people_dept_join['age'] > 30]
# Group by deptId while keeping name & gender as lists
grp_df = age_fil_df.groupby(by='deptId').agg(
    Names=('deptName','max' ),
    Genders=('gender', 'max'),
    Avg_Salary=('salary', 'mean'),
    Max_Age=('age', 'max')
)
print(grp_df)

          Names Genders  Avg_Salary  Max_Age
deptId
1       PySpark       M        75.0       50
2            ML       F       150.0       60

In [ ]:
import  pandas as pd 
file=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\Jan25 Prod Commissions.csv'
df=pd.read_csv(file,encoding='windows-1252',low_memory=False).reindex()
df.fillna(0)
df

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("StructTypeExample").getOrCreate()
df=spark.read.csv(path=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\nyc_temperature.csv',encoding='latin1',header=True)
df.show(100)
#display(df)
#df.printSchema()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("StructTypeExample").getOrCreate()
df=spark.read.format(source='csv').options(headers=True).load(path=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\nyc_temperature.csv')
df.show()
#help(spark.read.csv)

In [ ]:
import os
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("StructTypeExample").getOrCreate()
csv_file_list = []
directory_path = r'C:\Users\jangasa\OneDrive - Republic Services\Desktop'
entries = os.scandir(directory_path)
for entry in entries:
    if entry.isfile() and entry.name.endswith('.csv'):
        csv_file_list.append(entry.path)  # Store full file path
# Ensure csv_file_list is not empty before loading
if csv_file_list:
    df = spark.read.csv(path=csv_file_list, header=True, inferSchema=True)
    df.show()
else:
    print("No CSV files found in the specified directory.")

In [ ]:
#Writing the df into csv files
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("WritingtoCSV").getOrCreate()
df=spark.read.format(source='csv').option('header',True).load(path=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\nyc_temperature.csv')
#df=spark.read.format(source='csv').options(header=True).load(path=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\nyc_temperature.csv')
#help(df.write.csv)
df.coalesce(1).write.option("header", True).csv(r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\temperature\temp.csv', mode='overwrite')

In [ ]:
#reading jsonfile into dataframe
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode
spark = SparkSession.builder.appName("WritingtoCSV").getOrCreate()
df=spark.read.json(path=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\Json2.json',multiLine=True)
#df.show(truncate=False)
# Create DataFrame
#df = spark.read.json(spark.sparkContext.parallelize(data))

# Flatten JSON structure
df_flattened = df.select(
    col("bow"),
    col("darkness"),
    col("proper"),
    col("worse"),
    col("tree"),
    col("see.star").alias("star"),
    col("see.chief").alias("chief"),
    col("see.sugar").alias("sugar"),
    col("see.straight").alias("straight"),
    col("see.cake").alias("cake"),
    explode(col("see.these")).alias("these_values")  # Flatten list inside "see"
)
df_flattened.show(truncate=False)

In [ ]:
#reading jsonfile into dataframe
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode
#spark = SparkSession.builder.appName("WritingtoCSV").getOrCreate()
df=spark.read.json(path=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\Json2.json',multiLine=True)
print(df.schema.fields)
def flattend(df):
    for field in df.schema.fields:
        if field.dataType.simpleString().startswith("struct"):
            new_fileds=[col(f"{field.name}.{subfield.name}")\
                        .alias(f"{field.name}_{subfield.name}") for subfield in field.dataType]
            df=df.select('*',*new_fileds).drop(field.name)
        elif field.dataType.simpleString().startswith("array"): # Check for lists
            df = df.withColumn(field.name, explode(col(field.name)))
    return df
df=flattend(df).withColumn('see_these',explode(col('see_these')))
#df.show()

#df.withColumn('bow', col('bow').cast("int")).show()
#Writing into json
#df.write.json(path=r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\abc\abc.json', mode='overwrite')

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("parquet Example").getOrCreate()
df=spark.read.parquet(r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\titanic.parquet')
#df.schema.fields
df1=df.toPandas().head(5)
#df.show(vertical=True,n=2, truncate=0)
#df.select('passengerId','Survived').filter(df.PassengerId<15).show()
#help(spark.read.parquet)
df.schema.fields
#help(df.write.parquet)
#help(df.withColumn)

In [ ]:
from pyspark.sql import *
from pyspark.sql.functions import *
spark=SparkSession.builder.appName('Emp_Dept').getOrCreate()
df=spark.read.csv(r'C:\Users\jangasa\OneDrive - Republic Services\Desktop\My_Folder\Python\Employee.csv', header=True)
#Additing deptname column based on the dept no
df=df.withColumn('Dept_Name',when(col('Dept_No')==10,'London')
                            .when(col('Dept_No')==20,'NewYork')
                            .otherwise('India'))
#df.printSchema()
df.schema.fields
#df.dtypes
#Renaming tghe 'Dept_Name' to Location
df=df.withColumnRenamed('Dept_Name','Location')
#df.show()
#help(df.withColumnRenamed)
help(ArrayType)

In [8]:
import  pandas as pd
data=[(1,'Santhosh',('sql','snowflake','IICS')),(2,'Sunny',('Java','java script','python'))]
columns=['Id','Name','Subjects']
df=pd.DataFrame(data=data,columns=columns)
df_exploded = df.explode('Subjects')
print(df_exploded)

   Id      Name     Subjects
0   1  Santhosh          sql
0   1  Santhosh    snowflake
0   1  Santhosh         IICS
1   2     Sunny         Java
1   2     Sunny  java script
1   2     Sunny       python

In [ ]:
import pandas as pd
data = [
    (1, 'Santhosh', {"Subjects": ('sql', 'snowflake', 'IICS')}),
    (2, 'Sunny', {"Subjects": ('Java', 'java script', 'python')})]
columns = ['Id', 'Name', 'Subjects']
df = pd.DataFrame(data=data, columns=columns)
df['Subjects'] = df['Subjects'].apply(lambda x: x.get("Subjects", []))
df = df.explode('Subjects')
print(df)
#grp_df = df.groupby(['Id', 'Name']).agg(**{'list_of_Sub': ('Subjects', ','.join)})
#for dictionaries
grp_df = df.groupby(['Id', 'Name']).agg({'Subjects': ', '.join}).rename(columns={'Subjects': 'list_of_Sub'})
print(grp_df)